
.panel {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding: 5px 25px;
}
.panelLink {

}
.panelLink:hover .panelImg  {
    transform: translateY(-6px);
}
.panelImg {
    will-change: transform;
    transition: transform 250ms;
    border: 2px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: translateY(-4px);
}

.panelLink:active .panelImg {
    transform: translateY(-2px);
}




