.app {

}


.containerBubble {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100vh;
}


.round {
    width: 300px;
    color: #000;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}






/*style panel*/

.repeat {
    cursor: pointer;
}

.playGame {
    background-color: rgba(38, 31, 71, 0.5);
    height: 100%;
}

/*background-color: rgba(38, 31, 71, 0.5);*/
