.app {
   
}


.containerBubble {
    max-width: 1000px;
    margin: 20px auto;
}
.menuBubble {
    display: flex;
    justify-content: space-between;
}
.round {
    width: 300px;
    color: #000;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}
.burstingBubbles {
    position: relative;
  width: 100%;
    border: 3px solid #fff;
    height: 750px;
    border-radius: 10px;
}
.panel div {
    background-color: #fff;
    color: black;
    padding: 5px;
    border-radius: 10px;
}
.panel {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.repeat {
    cursor: pointer;
}

.playGame {
    background-color: rgba(38, 31, 71, 0.5);
    height: 100%;
}
/*background-color: rgba(38, 31, 71, 0.5);*/
.start {
    background-color: #e03854;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 50;
}