@font-face {
  font-family: 'Luckiest-Guy';
  src: url('../../public/fonts/LuckiestGuy-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Fredoka';
  src: url('../../public/fonts/Fredoka-VariableFont_wdth,wght.ttf') format('truetype');
}


body {
  font-family: 'Luckiest-Guy', sans-serif;
  background: url("https://funart.pro/uploads/posts/2021-04/1618435850_43-funart_pro-p-oboi-fon-gradientnii-fon-44.jpg");

  color: #fff;
  font-size: 25px;

  margin: 0;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
